# Run tests on PR
name: Tests/CI

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v6
        with:
          # Install a specific version of uv.
          version: 0.9.7
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Install dependencies and project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest tests/unit/ -v --cov=allos --cov-report=xml

      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true # optional (default = false)
          files: ./coverage.xml
          # flags: unittests # optional
          name: codecov-allos # optional
          token: ${{ secrets.CODECOV_TOKEN }}
